urlextract==1.8.0
attrs==23.1.0
python-dotenv
ray[default]
pydantic==1.10.9
jinja2
python-dotenv
sshtunnel
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability